{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3 border">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5 align-self-center">
                <h1 class="mb-0 h4">{{ product.title }} Bearing</h1>
                <p>{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                {% csrf_token %}
                                {% if designations_list %}
                                <label for="designation">Designation</label>
                                <select id="designation" class="form-select" data-live-search="true">
                                    {% for designation in designations_list %}
                                    <option value="{{ designation.name }}" data-tokens="{{ designation.name }}">
                                        {{ designation }}
                                    </option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />

        {% comment %} CHOOSING HOUSING {% endcomment %}
        <div class="row g-3 border">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <embed id="p1" src="static/Oval.pdf" width="500" height="375" type="application/pdf">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5 align-self-center">
                <h1 class="mb-0 h4">Choose the Housing for your Bearing</h1>
                <div class="border">
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                {% csrf_token %}
                                {% if designations_list %}                                
                                <label for="housing">Choose Housing</label>
                                <select id="housing" class="form-select" data-live-search="true" onchange="housechange()">
                                    {% for product in products %}
                                    {% if product.category.name == "Housing" %}
                                        <option value="{{ product }}" data-tokens="{{ product }}">
                                            {{ product }}
                                        </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />

        {% comment %} CHOOSING SHAFT {% endcomment %}
        <div class="row g-3 border">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                {% comment %} <embed id="p1" src="static/Oval.pdf" width="500" height="375" type="application/pdf"> {% endcomment %}
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5 align-self-center">
                <h1 class="mb-0 h4">Choose the Shaft</h1>
                <div class="border">
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
                                {% csrf_token %}
                                {% if designations_list %}                                
                                <label for="housing">Choose Housing</label>
                                <select id="housing" class="form-select" data-live-search="true" onchange="housechange()">
                                    {% for product in products %}
                                    {% if product.category.name == "Housing" %}
                                        <option value="{{ product }}" data-tokens="{{ product }}">
                                            {{ product }}
                                        </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-end">
            <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm">Add to basket</button></div>
        </div>
    </main>
</div>

<script>
    function housechange() {
        console.log("static/"+$('#housing option:selected').text().trim()+".pdf");
        return document.getElementById("p1").src = "static/"+$('#housing option:selected').text().trim()+".pdf";
    };
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: '1',
                designation: $('#designation option:selected').text(),
                housing: $('#housing option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
                console.log(json)
                document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}